* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: white;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;
}
.container .left,
.container .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(35, 35, 35);
}
.container .left h1 {
  font-size: 4rem;
}
.container .left p {
  font-size: 1.5rem;
  line-height: 3rem;
  width: 80%;
  margin: 10px 0px;
}
.container .right h1 {
  font-size: 2rem;
  line-height: 3rem;
}
.container .right .num {
  font-size: 3rem;
  font-weight: lighter;
}

.no_devices {
  text-align: center;
  font-size: 3rem;
  color: rgb(35, 35, 35);
  font-weight: bold;
}
.no_devices span {
  padding: 0.3rem 2rem;
  background: #fb8c4e;
  border-radius: 10px;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-container .countries {
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  color: rgb(255, 0, 0);
}
.table-container .countries h3 {
  margin: 0.5rem 0.4rem;
}

table {
  width: 40%;
  font-family: arial, sans-serif;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  color: rgb(35, 35, 35);
  background: #ebebeb;
  border-radius: 10px;
  margin: 2rem 0rem;
}
table td,
table th {
  text-align: left;
  padding: 8px;
}
table .table-head {
  font-weight: bolder;
}

.details-container {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  margin: 1rem 0rem;
}
.details-container .heading-text {
  color: rgb(35, 35, 35);
  font-size: 1.2rem;
  margin: 1rem 0rem;
}
.details-container .heading-text .deviceName {
  font-weight: bold !important;
}
.details-container .heading-text table {
  margin-left: 6vw;
  margin-top: 2vw;
  width: 50vw !important;
}
.details-container .heading-text h1 {
  font-weight: 200;
  color: rgb(35, 35, 35);
}
.details-container .heading-text .details {
  font-size: 1rem;
  line-height: 2.4rem;
  font-weight: lighter !important;
  color: rgb(35, 35, 35);
  margin-top: 3vw;
}
.details-container .heading-text .details h2 {
  margin-left: 5rem;
}
.details-container .heading-text .details h2 .space {
  margin: 0rem 1rem;
}

@media only screen and (max-width: 700px) {
  .container .left h1 {
    font-size: 3rem;
  }
  .container .left p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: left;
  }
  .table-container {
    flex-direction: column;
  }
  table {
    width: 80vw;
  }
  .container {
    padding: 1rem 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container .left,
.container .right {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details-container {
    padding: 0rem 1rem;
  }
  .details-container .heading-text {
    margin: 0.5rem 0rem;
  }
  .details-container .heading-text h1 {
    font-size: 1.2rem;
  }
  .details-container .heading-text .details {
    margin: 0rem 1rem;
    line-height: 0rem;
  }
  .details-container .heading-text .details .space {
    margin: 0rem 1rem;
  }
  .details-container .heading-text .details h2 {
    font-size: 0.8rem;
    margin: 0rem 1rem;
  }
}/*# sourceMappingURL=main.css.map */