* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0rem;
}

.container .left,
.container .right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #474747;
}

.container .left h1 {
  font-size: 4rem;
}

.container .left p {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 80%;
  margin: 10px 0px;
}

.container .right h1 {
  font-size: 2rem;
  line-height: 3rem;
}

.container .right .num {
  font-size: 3rem;
  font-weight: lighter;
}

.table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-container .countries {
  margin: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  color: #606060;
}

.table-container .countries h3 {
  margin: 0.5rem 0.4rem;
}

table {
  width: 40%;
  font-family: arial, sans-serif;
  border: 2px solid #e2e2e2;
  color: #606060;
  font-size: 1.4rem;
}

td,
th {
  text-align: left;
  padding: 8px;
  border-right: 2px solid #e2e2e2;
}

.table-head {
  font-weight: bolder;
}

.details-container {
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: lighter;
}

.details-container .heading-text {
  color: #606060;
  font-size: 1.2rem;
  margin: 1rem 0rem;
}

.details-container .heading-text .deviceName {
  font-weight: bold !important;
}

.details-container .heading-text table {
  margin-left: 6vw;
  margin-top: 2vw;
  width: 50vw !important;
}

.details-container .heading-text h1 {
  font-weight: 200;
  color: #7a7a7a;
}

.details-container .heading-text .details {
  font-size: 1rem;
  line-height: 2.4rem;
  font-weight: lighter !important;
  color: #7a7a7a;
  margin-top: 3vw;
}

.details-container .heading-text .details h2 {
  margin-left: 5rem;
}

.details-container .heading-text .details h2 .space {
  margin: 0rem 1rem;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 1rem 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .container .left,
  .container .right {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details-container {
    padding: 0rem 1rem;
  }
  .details-container .heading-text {
    margin: 0.5rem 0rem;
  }
  .details-container .heading-text h1 {
    font-size: 1.2rem;
  }
  .details-container .heading-text .details {
    margin: 0rem 1rem;
    line-height: 0rem;
  }
  .details-container .heading-text .details .space {
    margin: 0rem 1rem;
  }
  .details-container .heading-text .details h2 {
    font-size: 0.8rem;
    margin: 0rem 1rem;
  }
}
/*# sourceMappingURL=main.css.map */